---
const navegaionItems = [
  { name: "Inicio", href: "/" },
  { name: "Nosotros", href: "/nosotros" },
  { name: "Blog", href: "/blog" },
  { name: "Proceso", href: "/proceso" },
  { name: "Menú", href: "/menu" },
  { name: "Galería", href: "/galeria" },
  { name: "Contacto", href: "/contacto" },
];
---

<nav>
  <ul class="flex flex-col lg:flex-row items-center flex-wrap gap-6">
    {
      navegaionItems.map((item) => (
        <li>
          <a
            href={item.href}
            class="text-white uppercase font-semibold text-lg hover:text-coffee-300 transition-colors"
          >
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
